* {
    font-family: 'Lucida Console', 'Courier New', monospace;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.navbar_width {
    width: 125px;
}

.small_widget_title {
    width: 105px;
    height: 58px;
}

.medium_widget {
    width: 315px;
}

.medium_widget_title {
    width: 150px;
}

.large_widget {
    width: 435px;
}

.heatmap_day {
    height: 20px;
    width: 20px;
}

.gap_year_display {
    min-width: 1rem;
}

.progress_bar {
    height: 25px;
    width: 1px;
    padding: 1px;
    margin: 1px;
}

.progress_bar_y {
    height: 9px;
    width: 145px;
    margin: 1px;
}

.progress_bar_small {
    height: 5px;
    width: 1px;
    padding: 1px;
    margin: 1px;
}

.progress_bar_medium {
    height: 15px;
    width: 1px;
    padding: 1px;
    margin: 1px;
}

.graph_bar_small {
    height: 45px;
    width: 1px;
    padding: 1px;
    margin: 1px;
}

.graph_bar_med {
    height: 45px;
    width: 1px;
    padding: 2px;
    margin: 1px;
}

.graph_bar_big {
    height: 45px;
    width: 1px;
    padding: 3.5px;
    margin: 1px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 315px);
    gap: 1rem;
    justify-content: center;
    justify-items: center;
}

.full-row {
    grid-column: 1 / -1;
    justify-items: space-between;
}
