* {
    font-family: 'Lucida Console', 'Courier New', monospace;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.navbar_width {
    width: 125px;
}

.nav_bar_logo {
    width: 100px;
}

/* NOTIFICATION */
.notification_width {
    min-width: 25rem;
}

.notification_colour_unread {
    background: rgb(252, 104, 56);
}

.notification_colour_read {
    background: rgb(150, 150, 150);
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(5px);
    opacity: 0;
    transition:
    transform 0.2s ease-out,
    opacity 0.2s ease-out,
    visibility 0s linear 0.5s;
}

.dropdown-menu.dropdown-menu-dark {
    background-color: rgba(33, 37, 41, 0.9) !important;
}

.dropdown-menu.show {
    transform: translateY(5px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition-delay: 0s;
}

.dropdown-item {
    color: rgb(0, 0, 0);
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color:rgb(65, 70, 75);
    colour: rgb(255, 255, 255);
    cursor: pointer;
}

.dropdown-item:active,
.dropdown-item.active {
    background-color: background-color:rgb(65, 70, 75);
}

/* WIDGETS */
.graph_widget_title {
    width: 135px;
}

.medium_widget {
    width: 315px;
    max-width: 420px;
}

.medium_widget_title {
    width: 150px;
}

.large_widget {
    width: 435px;
}

.widget_caller {
    height: 25px;
    padding: 1px;
    margin: 1px;
}

/* Hover Shadow */
.hover_shadow {
    transition: box-shadow 0.3s ease-in-out;
}

.hover_shadow_lg:hover {
    box-shadow: var(--bs-box-shadow-lg) !important;
}

/* HEATMAP */
.heatmap_day {
    height: 20px;
    width: 20px;
}

.gap_year_display {
    min-width: 1rem;
}

/* PROGRESS BAR */
.progress_bar {
    height: 25px;
    width: 1px;
    padding: 1px;
    margin: 1px;
}

.progress_bar_y {
    height: 6.25px;
    width: 145px;
    margin: 1px;
}

.progress_bar_small {
    height: 5px;
    width: 1px;
    padding: 1px;
    margin: 1px;
}

.progress_bar_medium {
    height: 15px;
    width: 1px;
    padding: 1px;
    margin: 1px;
}

/* GRAPH BAR */
.graph_bar_x_small {
    height: 45px;
    width: 1px;
    padding: 1px;
    margin: 1px;
}

.graph_bar_small {
    height: 45px;
    width: 1px;
    padding: 2px;
    margin: 1px;
}

.graph_bar_med {
    height: 45px;
    width: 1px;
    padding: 3px;
    margin: 1px;
}

.graph_bar_big {
    height: 45px;
    width: 1px;
    padding: 5px;
    margin: 1px;
}

/* FONT SIZE */
.small_text {
    font-size: 0.725rem;
}

/* GRID SETTINGS */
.grid-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}

.responsive-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.responsive-flex > * {
  flex: 0 0 315px;
}

.full-row {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* TOOLTIP */
.center-tooltip.bs-tooltip-top,
.center-tooltip.bs-tooltip-bottom,
.center-tooltip.bs-tooltip-start,
.center-tooltip.bs-tooltip-end {
top: 50% !important;
left: 50% !important;
transform: translate(-50%, -50%) !important;
}
.center-tooltip .tooltip-arrow {
display: none;
}


/* EMOTION BACKGROUND */
.Happy,
.yellow {
    background-color: rgba(var(--bs-warning-rgb), 0.5);
}

.Calm,
.dark_blue {
    background-color: rgba(var(--bs-primary-rgb), 0.5);
}

.Anxious,
.grey {
    background-color: rgba(var(--bs-secondary-rgb), 0.5);
}

.Sad,
.blue {
    background-color: rgba(var(--bs-info-rgb), 0.5);
}

.Love,
.green {
    background-color: rgba(var(--bs-success-rgb), 0.5);
}

.Anger,
.red {
    background-color: rgba(var(--bs-danger-rgb), 0.5);
}

/* EMOTION BORDERS */
.Happy_border,
.yellow_border {
    border: 1px solid rgba(var(--bs-warning-rgb), 0.5);
}

.Calm_border,
.dark_blue_border {
    border: 1px solid rgba(var(--bs-primary-rgb), 0.5);
}

.Anxious_border,
.red_border {
    border: 1px solid rgba(var(--bs-secondary-rgb), 0.5);
}

.Sad_border,
.blue_border {
    border: 1px solid rgba(var(--bs-info-rgb), 0.5);
}

.Love_border,
.green_border {
    border: 1px solid rgba(var(--bs-success-rgb), 0.5);
}

.Anger_border,
.red_border {
    border: 1px solid rgba(var(--bs-danger-rgb), 0.5);
}


/* Emotions in Check In */
input[type="checkbox"]:hide-checkbox {
    display: none;
}

input[type="checkbox"]:checked + label.btn-outline-secondary {
    color: #212529;
    background-color: #6c757d;
    border-color: #6c757d;
}

input[type="checkbox"]:checked + label.btn-outline-primary {
    color: white;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

input[type="checkbox"]:checked + label.btn-outline-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

input[type="checkbox"]:checked + label.btn-outline-info {
    color: white;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

input[type="checkbox"]:checked + label.btn-outline-danger {
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
}


input[type="checkbox"]:checked + label.btn-outline-success {
    color: white;
    background-color: #198754;
    border-color: #198754;
}
