<div class="border rounded-3 d-flex flex-column align-items-start justify-content-between p-1 medium_widget">
    <h3 class="bg-light text-center rounded-3 py-1 w-100">Emotion Graph</h3>
    <div class="d-flex flex-column align-items-between">
        {% for emotion, percentage in track_emotions_info.emotions_percentage.items() %}
        <div class="d-flex">
            <h4 class="bg-light text-body-secondary text-center rounded-3 py-3 graph_widget_title">
                {{ emotion|title }}
            </h4>
            {% if track_emotions_info.max_num[1] <= 14 %}
            {% set graph_style = 'graph_bar_big' %}
            {% elif track_emotions_info.max_num[1] <= 20 %}
            {% set graph_style = 'graph_bar_med' %}
            {% elif track_emotions_info.max_num[1] <= 28 %}
            {% set graph_style = 'graph_bar_small' %}
            {% elif track_emotions_info.max_num[1] <= 50 %}
            {% set graph_style = 'graph_bar_x_small' %}
            {% endif %}
            <div class="d-flex flex-grow-1 align-items-center pb-1 ms-1">
                {% for i in range(percentage * 2) %}
                <div class="{{ emotion }} {{ graph_style }} {{ 'rounded-end-3' if i == (percentage * 2) - 1 else '' }}">
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="bg-light border rounded d-flex justify-content-center align-items-center w-100">
        {% if track_emotions_info.max_num[1] > 0 %}
        <div class="widget_caller text-center {{ track_emotions_info.max_num[0] }} rounded w-100">
            Most logged: {{ track_emotions_info.max_num[0] }} - {{ track_emotions_info.max_num[1] }}%
        </div>
        {% endif %}
    </div>
</div>