{% extends "base.html" %}

{% block content %}
<h3 class="pt-5">{{title}}</h3>
<p>How do you feel today?</p>
<div class="container mt-4">
    <div class="row">
        {% for emotion in emotions %}
        <div class="col-sm-6 mb-3">
            <div class="card border border-3 {{ emotion.border }}">
                <div class="card-body">
                    <h5 class="card-title">{{ emotion.title }}</h5>
                    {% for feeling in emotion.feelings %}
                    <a href="#" class="btn btn-outline-dark">{{ feeling }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}