{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- Header -->
    <h1 class="my-4">How are you feeling?</h1>
    <p class="mb-4">Choose symptom(s) that are applicable to you:</p>
    <hr class="border-5">

    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}

        <!-- Display Symptoms -->
        <div class="options-list">
           {% for symptom in form.symptoms %}
               <div class="col-mb-6 mb-2">
                   <label class="symptom-btn btn btn-outline-secondary py-2 px-3" style="width: 300px;">
                     {{ symptom(class="symptom-checkbox") }}
                     <span>{{ symptom.label.text }}</span>
                   </label>
              </div>
           {% endfor %}

           <div class="col-md-4 col-sm-6 mb-3 mt-4">  <!-- Added mt-4 here -->
                   {{ form.submit(class="btn btn-dark py-2") }}
           </div>
        </div>

        <!-- Error Handling -->
        {% if form.symptoms.errors %}
            <div class="alert alert-danger mt-3">
                {% for error in form.symptoms.errors %}
                    <span>{{ error }}</span><br>
                {% endfor %}
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}
