{% extends "base.html" %}

{% block content %}
<div class="container">
<h1 class="my-4">How are you feeling?</h1>
<h3 class="mb-4">Choose symptom(s) that are applicable to you:</h3>
<hr class="border-5">

<form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    <ul class="options-list">
       {% for symptom in form.symptoms %}
           <div class="col-mb-6 mb-2">
          <label class="btn btn-outline-dark symptom-button">
                 {{ symptom() }}  <!-- Hidden checkbox -->
                 <span>{{ symptom.label.text }}</span>  <!-- Button text -->
          </label>
          </div>
       {% endfor %}
    </ul>

    {% if form.symptoms.errors %}
        <div class="alert alert-danger mt-3">
            {% for error in form.symptoms.errors %}
                <span>{{ error }}</span><br>
            {% endfor %}
        </div>
    {% endif %}
     {{ form.submit(class="btn btn-dark") }}
</form>
</div>
{% endblock %}
