{% import 'widget_macro.html' as macro %}
{% call macro.medium_widget(
track_health_info,
title="Track Activity",
label_one="Time", content_one=track_health_info.activity_duration ~ 'mins',
label_two="Goal", content_two=track_health_info.activity_duration_goal ~ 'mins',
label_three="Complete", content_three=track_health_info.activity_percentage_complete ~ '%',
label_four="Left", content_four=(track_health_info.activity_duration_goal - track_health_info.activity_duration)|string ~ 'mins'
) %}
    {% for i in range(0, 50) %}
        {% set is_progress = i <= track_health_info.activity_percentage_complete / 2 %}
        {% set base_class = 'bg-success border border-success' if is_progress else 'bg-primary border border-primary opacity-50' %}
        {% set rounded_class = ' rounded-start' if i == 0 else ' rounded-end' if i == 49 else '' %}
        <div class="{{ base_class }}{{ rounded_class }} progress_bar"></div>
    {% endfor %}
{% endcall %}