{% import 'widget_macro.html' as macro %}
{% call macro.medium_widget_six(
    medium_widget_eight,
    title="Emotion Info",
    label_one="Anger", content_one=track_emotions_info.emotions.Anger,
    label_two="Anxious", content_two=track_emotions_info.emotions.Anxious,
    label_three="Sad", content_three=track_emotions_info.emotions.Sad,
    label_four="Happy", content_four=track_emotions_info.emotions.Happy,
    label_five="Love", content_five=track_emotions_info.emotions.Love,
    label_six="Calm", content_six=track_emotions_info.emotions.Calm
) %}
    {% set ns = namespace(base_class='') %}
    {% set total_bars = track_emotions_info.segments[-1].cumulative %}
    {% for i in range(1, total_bars) %}
        {% set ns.base_class = '' %}
        {% for segment in track_emotions_info.segments %}
            {% if ns.base_class == '' and i <= segment.cumulative %}
                {% set ns.base_class = segment.emotion %}
            {% endif %}
        {% endfor %}
        {% if ns.base_class == '' %}
            {% set ns.base_class = 'default' %}
        {% endif %}
        {% set border_class = ns.base_class ~ '_border' %}
        {% set rounded_class = ' rounded-start' if i == 1 else ' rounded-end' if i == (total_bars - 1) else '' %}
        <div class="{{ ns.base_class }} {{ border_class }}{{ rounded_class }} progress_bar"></div>
    {% endfor %}
{% endcall %}