{% import 'widget_macro.html' as macro %}
{% call macro.medium_widget_four(
medium_widget_four,
title="Emotion Info",
label_one="Anxious", content_one=track_emotions_info.emotion_count.anxious.length,
label_two="Calm", content_two=track_emotions_info.emotion_count.calm.length,
label_three="Happy", content_three=track_emotions_info.emotion_count.happy.length,
label_four="Sad", content_four=track_emotions_info.emotion_count.sad.length
) %}
    {% for i in range(0, 50) %}
        {% set percentages = track_emotions_info.emotions_percentage.values() | list %}
        {% set base_class =
            'bg-' ~ percentages[0]['colour'] ~ ' border border-' ~ percentages[0]['colour'] if i < percentages[0]['percentage']
            else 'bg-' ~ percentages[1]['colour'] ~ ' border border-' ~ percentages[1]['colour'] ~ ' opacity-50' if i < percentages[1]['percentage']
            else 'bg-' ~ percentages[2]['colour'] ~ ' border border-' ~ percentages[2]['colour'] ~ ' opacity-50' if i < percentages[2]['percentage']
            else 'bg-' ~ percentages[3]['colour'] ~ ' border border-' ~ percentages[3]['colour'] ~ ' opacity-50'
        %}
        {% set rounded_class = ' rounded-start' if i == 0 else ' rounded-end' if i == 49 else '' %}
        <div class="{{ base_class }}{{ rounded_class }} progress_bar"></div>
    {% endfor %}
{% endcall %}