{% macro track_steps_widget(
track_health_info,
title="Title",
label_one="Label", content_one=None,
label_two="Left", content_two=None,
label_three="Complete", content_three=None,
label_four="Left", content_four=None
) %}
<div class="border rounded-3 d-flex align-items-center justify-content-between flex-column p-1 medium_widget">
    <h3 class="bg-light text-center rounded-3 py-1 w-100">{{ title }}</h3>
    <div class="d-flex">
        <div class="me-2">
            <h4 class="bg-light text-body-secondary text-center rounded-3 py-1 medium_widget_title">{{ label_one }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_one }}</h4>
            <h4 class="bg-light text-body-secondary text-center rounded-3 py-1 mt-2 medium_widget_title">{{ label_two }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_two }}</h4>
        </div>
        <div>
            <h4 class="bg-light text-body-secondary text-center rounded-3 py-1 medium_widget_title">{{ label_three }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_three }}</h4>
            <h4 class="bg-light text-body-secondary text-center rounded-3 py-1 mt-2 medium_widget_title">{{ label_four }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_four }}</h4>
        </div>
    </div>
    <div class="bg-light border rounded d-flex justify-content-center align-items-center mt-1 mb-0 w-100">
        {{ caller() }}
    </div>
</div>
{% endmacro %}