{% macro medium_widget_four(
    medium_widget_four,
    title="Title",
    label_one="", content_one=None,
    label_two="", content_two=None,
    label_three="", content_three=None,
    label_four="", content_four=None
) %}
<div class="border rounded-3 d-flex align-items-center justify-content-between flex-column p-1 medium_widget">
    <h3 class="bg-light text-center rounded-3 py-1 w-100">{{ title }}</h3>
    <div class="d-flex">
        <div class="me-2">
            <h4 class="bg-light text-body-secondary text-center rounded-3 py-1 medium_widget_title">{{ label_one }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_one }}</h4>
            <h4 class="bg-light text-body-secondary text-center rounded-3 py-1 mt-2 medium_widget_title">{{ label_two }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_two }}</h4>
        </div>
        <div>
            <h4 class="bg-light text-body-secondary text-center rounded-3 py-1 medium_widget_title">{{ label_three }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_three }}</h4>
            <h4 class="bg-light text-body-secondary text-center rounded-3 py-1 mt-2 medium_widget_title">{{ label_four }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_four }}</h4>
        </div>
    </div>
    <div class="bg-light border rounded d-flex justify-content-center align-items-center mt-1 mb-0 w-100">
        {{ caller() }}
    </div>
</div>
{% endmacro %}

{% macro medium_widget_five(
    medium_widget_five,
    title="Title",
    label_one="", content_one=None, bg_colour_one='bg-light',
    label_two="", content_two=None, bg_colour_two='bg-light',
    label_three="", content_three=None, bg_colour_three='bg-light',
    label_four="", content_four=None, bg_colour_four='bg-light',
    label_five="", content_five=None, bg_colour_five='bg-light'
) %}
<div class="border rounded-3 d-flex align-items-center justify-content-between flex-column p-1 medium_widget">
    <h3 class="bg-light text-center rounded-3 py-1 w-100">{{ title }}</h3>
    <div class="d-flex align-items-center">
        <div class="me-2">
            <h4 class="{{ bg_colour_one }} text-body-secondary text-center rounded-3 py-1 medium_widget_title">{{ label_one }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_one }}</h4>

            <h4 class="{{ bg_colour_two }} text-body-secondary text-center rounded-3 py-1 mt-2 medium_widget_title">{{ label_two }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_two }}</h4>

            <h4 class="{{ bg_colour_three }} text-body-secondary text-center rounded-3 py-1 mt-2 medium_widget_title">{{ label_three }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_three }}</h4>

            <h4 class="{{ bg_colour_four }} text-body-secondary text-center rounded-3 py-1 mt-2 medium_widget_title">{{ label_four }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_four }}</h4>

            <h4 class="{{ bg_colour_five }} text-body-secondary text-center rounded-3 py-1 mt-2 medium_widget_title">{{ label_five }}</h4>
            <h4 class="bg-light fw-bold text-center rounded-3 p-3 mb-0">{{ content_five }}</h4>
        </div>
        <div class="bg-light border rounded d-flex justify-content-center align-items-center mb-0 w-100 mh-100">
            {{ caller() }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro medium_widget_eight(
    medium_widget_eight,
    title="Title",
    label_one="", content_one=None,
    label_two="", content_two=None,
    label_three="", content_three=None,
    label_four="", content_four=None,
    label_five="", content_five=None,
    label_six="", content_six=None,
    label_seven="", content_seven=None,
    label_eight="", content_eight=None
) %}
{% set label = 'bg-light text-body-secondary text-center rounded-3 py-3 medium_widget_title' %}
{% set content = 'bg-light fw-bold text-center rounded-3 py-3 medium_widget_title' %}
<div class="border rounded-3 d-flex flex-column align-items-center justify-content-between p-1 gap-0 medium_widget">
    <h3 class="bg-light text-center rounded-3 py-1 w-100">{{ title }}</h3>
    <div class="d-flex justify-content-between w-100">
        <h4 class="{{ label }}">{{ label_one }}</h4>
        <h4 class="{{ content }}">{{ content_one }}</h4>
    </div>
    <div class="d-flex justify-content-between w-100">
        <h4 class="{{ label }}">{{ label_two }}</h4>
        <h4 class="{{ content }}">{{ content_two }}</h4>
    </div>
    <div class="d-flex justify-content-between w-100">
        <h4 class="{{ label }}">{{ label_three }}</h4>
        <h4 class="{{ content }}">{{ content_three }}</h4>
    </div>
    <div class="d-flex justify-content-between w-100">
        <h4 class="{{ label }}">{{ label_four }}</h4>
        <h4 class="{{ content }}">{{ content_four }}</h4>
    </div>
    <div class="d-flex justify-content-between w-100">
        <h4 class="{{ label }}">{{ label_five }}</h4>
        <h4 class="{{ content }}">{{ content_five }}</h4>
    </div>
    <div class="d-flex justify-content-between w-100">
        <h4 class="{{ label }}">{{ label_six }}</h4>
        <h4 class="{{ content }}">{{ content_six }}</h4>
    </div>
    <div class="d-flex justify-content-between w-100">
        <h4 class="{{ label }}">{{ label_seven }}</h4>
        <h4 class="{{ content }}">{{ content_seven }}</h4>
    </div>
    <div class="d-flex justify-content-between w-100">
        <h4 class="{{ label }}">{{ label_eight }}</h4>
        <h4 class="{{ content }}">{{ content_eight }}</h4>
    </div>
    <div class="bg-light border rounded d-flex justify-content-center align-items-center w-100">
        {{ caller() }}
    </div>
</div>
{% endmacro %}